// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* HEADER */
body{
  width:100%;
  min-height: 100vh;
  background-image: url('../img/jumbo.jpg');
  background-size: cover;

}
header{
  width:100%;
  margin-bottom: 50px;
  // height: 600px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;

}
.flex{
  display: flex;
  justify-content: space-around;
}
#logo{
  // width: 140px;
  height: 100%;
}
.inline-block{
  display: inline-block;
}
.block{
  display: block;
}
.none{
  display: none;
}
#user{
  width: 35px;
  height: 25px;
  margin-top: 5px;
}
.margin25{
  margin: 25px;
}

.first-block span{
  margin: 20px;
  color: white;
}
.margin60{
  margin-top: 60px;
}
.white-radius{
  text-align: center;
  width: 60px;
  height: 40px;
  background-color: white;
  border-radius: 30px;
}
.white-radius-center{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center!important;
  width: 40%;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  padding:5px 5px 5px 15px;
}

.white-radius-center p{
  color: grey;
}
.border-div{
  border-left: 1px solid grey;
}
a{
  text-decoration: none;
}
.search{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 40px;
  height: 50px;
  width: 50px;
  background-color: #FF385C;
  // transform: translate(0, -5px);
  margin:0;
  padding: 0;
}
.fa-search{
  color: white;
}
#globe-div{
  width: 100px;
  height: 100px;
  background-color: red;
}
#log-reg{
  flex-direction: row;
  align-items: center;
}
#log-reg > li{
  margin-left: 10px;
  width: 70px;
  color:grey;
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
  font-family: arial;
}
#regist-1, #regist-2{
  display: flex;
  align-items: center;
  text-decoration: none;

}
#regist-1 span{
  color:white;
}
#regist-2 span{
  color:grey;
}
.dropdown-toggle::after {
  display:none;
}
#my-profile > a {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}
#my-profile > a img{
  margin:0;
  padding:0;
}

#my-profile > a i{
  display: flex;
  align-items: center;
  padding-left: 10px;
}
#mynavbar{
  max-width:1200px ;
  width:90%;
  margin:auto;
  padding: 20px 0;
  height: 80px;
}
#mysearch{
  background-color: transparent;
  border:none;
  outline: none;
  width: 60%;
}
#div-logo{
  height:100%;
}
#text-logo{
  margin:0;
  padding:0;
  padding-left:8px;
  font-size: 30px;
  font-family: arial;
}
#text-pinklogo{
  color:#fc3c60;
  margin:0;
  padding:0;
  padding-left:8px;
  font-size: 30px;
  font-family: arial;
}

#a-logo{
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}
#navbarDropdown{
  color:grey;
}

.dropdown-menu.dropdown-menu-right{
  -webkit-filter: drop-shadow(5px 5px 5px  rgba(0,0,0,0.3));
  border:none;
}
#div-search{
  margin-top:80px;
}
#bg-white{
  background: white;
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.3);
}
#bg-transparent{
  background: transparent;
}
#my-box{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  border-radius: 9px;
}
#mycreate input{
}
.form-control-file{
  display: inline-block;
}
#serv-agiunt {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#my-serv-ag{
  margin-top:30px;
}
#mycreate-btn, #myupdate-btn{
  display: block;
  margin:auto;
}
#img-inp{
    display: inline-block;
}
#my-img-inp{
  // width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#my-img-inp > img{
  width:60%;
  overflow: hidden;
}
#form-img-layout{
  display: flex;
  flex-wrap:wrap;
}
#img-show{
  width: 60%;
  margin:auto;
  margin-bottom: 20px;
}
#img-show img{
  width:100%;
}
#card-body-show ul{
  list-style: none;
}
.image, .image-edit{
  width:300px;
  height:200px;
  overflow: hidden;
  border-radius: 8px;

  &>img{
    width:120%;
    position: relative;
    right: 17px;
    transform: translate(0%,0%);
  }
}
#lat-form, #lng-form,#mylatitude,#mylongitude {
  position:absolute;
  visibility: hidden;
  z-index: -99;
}
.formSearch {
  width:100%;
}
